//Padding top
.t-pt-40 {
    padding-top: 40px;
}
//Padding Bottom
.t-pb-40 {
    padding-bottom: 40px;
}
//Padding Right
.t-pr-10 {
    padding-right: 10px;
}
.t-pr-50 {
    padding-right: 50px;
}
//Padding Left