//Typography
$body-font: 'Muli', sans-serif;
$heading-font: 'Anton', sans-serif;

//Color

$white: #fff;
$black: #000;

$dark: #3C3D69;
$button-shadow: #241F71;

$grad-primary-one: #8775E3;
$grad-primary-two: #9A40D5;

$grad-secondary-one: #00CBB8;
$grad-secondary-two: #C4E96F;

//Social Icon Color

$fb: #3B5998;
$tw: #1DA1F2;
$ins: #F56040;
$in: #0077B5;

