.clock {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: linear-gradient(
		45deg,
		$grad-primary-two,
		$grad-primary-one
    );
    text-align: center;
    @include md-screen {
        width: 400px;
        height: 400px;
    }
    .days {
        font-size: 60px;
        font-family: $body-font;
        font-weight: 900;
        color: $white;
        line-height: 1;
        @include md-screen {
            font-size: 100px;
        }
        @include xl-screen {
            font-size: 120px;
        }
    }
    .smalltext {
        font-size: 24px;
        font-weight: 700;
        color: $white;
        text-transform: capitalize;
        @include md-screen {
            font-size: 40px;
        }
    }
}
