//Padding top
.t-pt-25 {
    padding-top: 25px;
}
.t-pt-30 {
    padding-top: 30px;
}
.t-pt-40 {
    padding-top: 40px;
}
.t-pt-50 {
    padding-top: 50px;
}
//Padding Bottom
.t-pb-25 {
    padding-bottom: 25px;
}
.t-pb-40 {
    padding-bottom: 40px;
}
.t-pb-50 {
    padding-bottom: 50px;
}
//Padding Right
.t-pr-10 {
    padding-right: 10px;
}
//Padding Left